<%- include('plantillas/head.ejs',{tituloPagina:'Express JS'}) %>
<%- include('plantillas/cabeceraGeneral.ejs') %>
<body>
    <div class="contenedor">
        <div class="express">           
                <h1>EXPRESS JS</h1>
                <img class="imagenes" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXGvkzmPgEKpt4pSohVd38ScVM7HJcKxZiTQ&usqp=CAU" alt="EXPRESS">
                <p>
                    Express.js <strong>ES UN FRAMEWORK PARA NODE JS</strong> que sirve para ayudarnos a crear aplicaciones web en menos tiempo ya que nos proporciona funcionalidades como el  enrutamiento,
                    opciones para gestionar sesiones y cookies, y un largo etc… <br>
                    Espress.js, según sus creadores, es un framework de desarrollo de aplicaciones web minimalista y flexible para Node.js" <br>
                    Express es un framework o marco de trabajo desarrollado sobre Nodejs, lo que quiere decir que provee toda la funcionalidad que necesitas para hacer aplicaciones web,
                    permitiendo estructurar tu proyecto de una manera más fácil.
                </p>             
        </div>
    </div>     
    <%- include('plantillas/footer.ejs',{tituloPagina:'Express JS'}) %>
</body>
</html>