<%- include('plantillas/head.ejs',{tituloPagina:'Formulario Completado'}) %>
<%- include('plantillas/cabeceraGeneral.ejs') %>
<body>
   <div class="contenedor">
    <div class="formularioCompletado">
        <h1>LOS DATOS DEL FORMULARIO HAN SIDO ENVIADOS CON ÉXITO</h1>
              
    </div>
   </div>    
    <%- include('plantillas/footer.ejs',{tituloPagina:'Formulario Completado'}) %>
</body>
</html>