<%- include('plantillas/head.ejs',{tituloPagina:'Información'}) %>
<%- include('plantillas/cabeceraGeneral.ejs') %>
<body>
    <div class="contenedor">
        <div class="informacion">           
                <h1>INFORMACIÓN</h1>
                <p>Dado que te ha interesado el contenido del curso, te dejo alguna información para que sigas adelante:</p>
                <p>Acá abajo te dejo la ubicación de la Municipalidad de Tres de Febrero.En el tercer piso te pueden asesorar en  Formación para el Trabajo.</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.0175641225887!2d-58.56655138505234!3d-34.603717365004435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb855e0c0af3d%3A0xa92dcbc80471b515!2sMunicipalidad%20de%20Tres%20de%20Febrero!5e0!3m2!1ses!2sar!4v1658706035399!5m2!1ses!2sar" width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                <p>También te dejo unos <strong><a href="/videos">videos</a></strong> que seguramente te van a interesar.</p>
                <p>Por último te invito a llenar este <strong><a href="/formulario">formulario</a></strong>.</p> 
        </div>
    </div>     
    <%- include('plantillas/footer.ejs',{tituloPagina:'Información'}) %>
</body>
</html>