<%- include('plantillas/head.ejs',{tituloPagina:'Videos'}) %>
<%- include('plantillas/cabeceraGeneral.ejs') %>
<body>
   <div class="contenedor">
        <div class="videos">
            <h1>VIDEOS DE INTERÉS</h1> <br>
            <p>Te voy a dejar unos videos que te van a ayudar a empezar con lo básico.</p><br>
            <p>El primero es de HTML:</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/kN1XP-Bef7w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
            <p>Éste segundo trata de CSS:</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/OWKXEJN67FE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Por último te dejo uno de JavaScript:</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/z95mZVUcJ-E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
            <p>Te invito a que sigas buscando por tu cuenta más videos e información.Hay mucho material disponible.</p>    
        </div>
   </div>    
    <%- include('plantillas/footer.ejs',{tituloPagina:'Videos'}) %>
</body>
</html>