<footer>   
   <img src="https://www.tresdefebrero.gov.ar/wp-content/uploads/2022/05/tres_febrero_logo_footer.png" alt="logo 3f">  
   <div>
     <p>Tecno3F.Diseño Web.
         <br>
         <%=tituloPagina%>
         <br>
         autor : Miguel Hojman
     </p>  
   </div>
</footer>